<% follows.each do |follow| %>
<tr>
    <td>
        <%= link_to follow.nickname, { :controller => 'user', :action => 'show', :id => follow.id }, :data => { :'no-turbolink' => '1' } %>
    </td>
    <td>
        <% if user_signed_in? %>
            <%= form_tag({:controller => 'follow', :action => 'delete'}, :remote => true, :class => 'form-ajax', :id => 'no' + follow.id.to_s) do %>
            <%= hidden_field_tag :user, follow.id %>
            <%= link_to 'follow', '#', :class => 'btn btn--s btn-no-padding btn-info btnFollow', :data => { :no => follow.id } %>
            <% end %>
        <% end %>
    </td>
</tr>
<% end %>
