<%# user_idをキーにコントロールブレイク %>
<% user_id = nil %>
<% bookmarks.each do |bookmark| %>
    <% if user_id == bookmark.user_id %>
        <li>
            <%= render partial: 'home/bookmark_oneline', locals: { bookmark: bookmark } %>
        </li>
    <% else %>
        <% if user_id != nil %>
            </ul>
        <% end %>
        <h3>
            ユーザー： <%= link_to bookmark.user.nickname, {:controller => "user", :action => "show", :id => bookmark.user }, :data => { :'no-turbolink' => '1' } %>
        </h3>
        <ul>
            <li>
                <%= render partial: 'home/bookmark_oneline', locals: { bookmark: bookmark } %>
            </li>
            <% user_id = bookmark.user_id %>
    <% end %>
<% end %>
<% if user_id != nil %>
        </ul>
<% end %>
