<% @bookmarks.each do |bookmark| %>
<li>
    <a class="bookmark" href="#" data-vpos="<%= bookmark.start_vpos %>">
        再生位置：<%= bookmark.start_vpos %>, コメント: <%= bookmark.comment %>
    </a>
</li>
<% end %>
