<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <%= image_tag "iphone.png" %>
            </div>
            
            <div class="col-lg-7 centered">
                <h3>WHAT WE CAN DO?</h3>
                <p>見てる人がniconicoできるようなハイライトを提供します。</p>
                <p>動画を見ている時に、"高まる"、"興奮する" ような瞬間がわかります。</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row centered mt grid">
        <h3>niconicoする！！</h3>
        <div class="mt"></div>
        <div class="col-lg-12">
            <%= image_tag "07.jpg" %>
        </div>
    </div>
</div>
