<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <%= image_tag "iphone.png" %>
            </div>
            
            <div class="col-lg-7 centered">
                <h3>WHAT WE CAN DO?</h3>
                <p>見てる人がniconicoできるようなハイライトを提供します。</p>
                <p>動画を見ている時に、"高まる"、"興奮する" ような瞬間がわかります。</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row centered mt grid">
        <h3>niconicoする！！</h3>
        <div class="mt"></div>
        <div class="col-lg-12">
            <%= link_to image_tag("07.jpg"), { :controller => :home, :action => :movie } %>
        </div>
    </div>
    
    <div class="row mt centered">
        <div class="col-lg-7 col-lg-offset-1 mt">
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div>
        
        <div class="col-lg-3 mt">
            <p><button type="button" class="btn btn-theme btn-lg">Email Me!</button></p>
        </div>
    </div>
</div>


<div id="skills">
    <div class="container">
        <div class="row centered">
            <h3>OUR SKILLS</h3>
            <div class="col-lg-3 mt">
                <canvas id="javascript" height="130" width="130"></canvas>
                <p>Javascript</p>
                <br>
                <script>
                    var doughnutData = [
                            {
                                value: 70,
                                color:"#74cfae"
                            },
                            {
                                value : 30,
                                color : "#3c3c3c"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                </script>
            </div>
            <div class="col-lg-3 mt">
                <canvas id="bootstrap" height="130" width="130"></canvas>
                <p>Bootstrap</p>
                <br>
                <script>
                    var doughnutData = [
                            {
                                value: 90,
                                color:"#74cfae"
                            },
                            {
                                value : 10,
                                color : "#3c3c3c"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
                </script>
            </div>
            <div class="col-lg-3 mt">
                <canvas id="wordpress" height="130" width="130"></canvas>
                <p>Wordpress</p>
                <br>
                <script>
                    var doughnutData = [
                            {
                                value: 65,
                                color:"#74cfae"
                            },
                            {
                                value : 35,
                                color : "#3c3c3c"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
                </script>
            </div>
            <div class="col-lg-3 mt">
                <canvas id="photoshop" height="130" width="130"></canvas>
                <p>Photoshop</p>
                <br>
                <script>
                    var doughnutData = [
                            {
                                value: 50,
                                color:"#74cfae"
                            },
                            {
                                value : 50,
                                color : "#3c3c3c"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
                </script>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /skills -->
