<link href="carousel.css" rel="stylesheet">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>niconico highlight</h1>
					<p>あの動画 この瞬間を記録 共有.</p>
					<div class="btn-group">
						<p><a class="btn btn-lg btn-primary" href="#" type="button">ためしてみる</a></p>
						<p><a class="btn btn-lg btn-primary" href="#" type="button">ユーザ登録</a></p>
						<p><a class="btn btn-lg btn-primary" href="#" type="button">ログイン</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.carousel -->
<div class="container marketing">
	<div class="row">
		<div class="col-sm-4 col-lg-4">
			<img class=".img-thumbnail" src="assets/business8.png" alt="Generic placeholder image" width="140" height="140">
			<h2>可視化</h2>
			<p>動画に投稿されたコメントをグラフで可視化. グラフから再生位置を指定</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-sm-4 col-lg-4">
			<img class=".img-thumbnail" src="assets/tree-leaf2g.png" alt="Generic placeholder image" width="140" height="140">
			<h2>しおり</h2>
			<p>お気に入りの瞬間,たかぶる瞬間に しおり を挟もう</p>
		</div><!-- /.col-lg-4 -->
		<div class="col-sm-4 col-lg-4">
			<img class=".img-thumbnail" src="assets/slideshare5.png" alt="Generic placeholder image" width="140" height="140">
			<h2>共有</h2>
			<p>お気に入りユーザと しおり を共有しよう！</p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div><!-- /.container -->
