<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="first-slide img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>niconico highlight</h1>
					<p>あの動画 この瞬間を記録. 共有.</p>
					<div class="btn-group">
						<a class="btn" href="/home/index" role="button">ためしてみる</a>
						<a class="btn" href="/users/sign_up" role="button">ユーザ登録</a>
						<a class="btn" href="/users/sign_in" role="button">ログイン</a>
						<hr class="featurette-divider">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container marketing">
	<div class="row">
		<div class="col-sm-4 col-lg-4">
			<!--<img class=".img-thumbnail" src="assets/business8.png" alt="visualize" width="140" height="140">-->
			<%= image_tag("business8.png", :size => "140x140", :alt => "visualize", :class => ".img-thumbnail") %>
			<h2>可視化</h2>
			<p>動画に投稿されたコメントをグラフで可視化. グラフから再生位置を指定</p>
		</div>
		<div class="col-sm-4 col-lg-4">
			<!--<img class=".img-thumbnail" src="assets/tree-leaf2g.png" alt="bookmark" width="140" height="140">-->
			<%= image_tag("tree-leaf2g.png", :size => "140x140", :alt => "visualize", :class => ".img-thumbnail") %>
			<h2>ふせん</h2>
			<p>お気に入りの動画の高まった瞬間を ふせん で記録</p>
		</div>
		<div class="col-sm-4 col-lg-4">
			<!--<img class=".img-thumbnail" src="assets/slideshare5.png" alt="shere" width="140" height="140">-->
			<%= image_tag("slideshare5.png", :size => "140x140", :alt => "visualize", :class => ".img-thumbnail") %>
			<h2>共有</h2>
			<p>お気に入りユーザと ふせん を共有しよう！</p>
		</div>
	</div>
</div>
